.DS_Store

# Local Netlify folder
.netlify
**/.netlify/

# Dependencies
node_modules/
**/node_modules/
newLine
# Build artifacts
dist/
**/dist/

# Env files (never commit secrets)
.env
.env.*
*.env
*.env.*
*.env.example
!.env.example
/.env
./athar-react/.env 
