<div class="topbar">
  <div class="tb-left">
    <button id="authCta" class="btn" type="button">الدخول / التسجيل</button>
    <button id="logout" class="btn" type="button">تسجيل خروج</button>
  </div>

  <div class="tb-center">
    <a id="adminBtn" href="/admin.html" style="display: none" class="btn"
      >لوحة التحكم</a
    >
    <a id="logout" class="btn" href="../index.html">الصفحة الرئيسية</a>
    <button class="btn" id="themeToggle" title="الوضع الداكن/الفاتح">🌓</button>
    <a class="btn" href="programs.html">مساحة إبداعي</a>
  </div>

  <div class="tb-right">
    <a class="btn" href="pricing.html">الدفع والإشتراك</a>
    <a id="nav-profile" class="btn" href="profile.html" style="display: none"
      >ملفي الشخصي</a
    >
  </div>
</div>
